body {
    font-family: 'Poppins', sans-serif;
    background-color: #f4f7fc;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 0;
}
        
.name-row {
    display: flex;
    gap: 10px;
}
.input-notice{
    text-align: center;
}
.input-notice .notice_msg_f{
    color: red;
}
.input-notice .notice_msg_s{
    color: green;
}
.name-row .first-name input {
    flex: 1;
    width: 90%;
}
.name-row .second-name input{
    flex: 1;
    width: 90%;
}

.profile-container {
    background-color: #fff;
    border-radius: 8px;
    padding: 30px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    width: 400px;
}

.profile-container h2 {
    text-align: center;
    color: #333;
}


.image-upload-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 20px;
}

.image-upload-container img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid #ddd;
    margin-bottom: 10px;
}

.image-upload-container input[type="file"] {
    display: none;
}

.upload-btn {
    background-color: #854836;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 10px;
}

.upload-btn:hover {
    background-color: #622c1c;
}

.profile-info {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.profile-info label {
    color: #555;
    font-weight: bold;
}


.profile-info input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 95%;
    font-size: 14px;
}

.submit-btn {
    background-color: #854836;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 15px;
}

.submit-btn:hover {
    background-color: #622c1c;
}

.error {
    color: red;
    font-size: 12px;
    display: none;
}